@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  min-width: 200px;
  max-width: 1920px;
  min-width: 200px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: dimgray;
}

header {
  box-shadow: 0 5px 10px lightgrey;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.78rem;
  margin: 0;
  padding: 0.8rem 0 0.4rem 0;
  text-align: center;
}

.nav-bar {
  text-align: center;
}
.nav-bar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
  font-size: 1rem;
  align-items: center;
  background-color: #EAEAEA;
}
.nav-bar__search input {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 130px;
  background-color: #EAEAEA;
}
.nav-bar__search input:focus {
  outline-color: darkgray;
}
.nav-bar__btn {
  background-color: #F7F7F7;
  padding-bottom: 3rem;
}
.nav-bar__btn h2 {
  margin: 0;
  padding: 2rem 4rem 0 4rem;
}
.nav-bar__btn p {
  margin: 0;
  padding: 1rem 1.5rem 0 1.5rem;
}
.nav-bar__btn a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  margin: 2rem 0 0 0;
  box-shadow: 0 3px 10px darkgray;
  transition: 0.5s;
}
.nav-bar__btn a:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #ff79da;
  transition: 0.5s;
}

main .menu {
  margin-bottom: 2rem;
}
main .menu h2 {
  text-align: left;
  margin: 3rem 0 2rem 1rem;
}
main .menu ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.2rem 0 2rem;
  justify-content: space-around;
}
main .menu ol li {
  display: flex;
  background-color: #F7F7F7;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  box-shadow: 0 3px 5px darkgray;
  font-size: 1rem;
  font-weight: bold;
  transition: all 1s ease;
}
main .menu ol li span {
  font-size: 0.8rem;
  font-weight: normal;
  position: relative;
  left: -0.9rem;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
main .menu ol li i {
  margin: 0 1.5rem 0 0.5rem;
  font-size: 1.2rem;
  transition: all 1s ease;
}
main .menu ol li:hover {
  cursor: pointer;
  background-color: #F5EDFF;
  box-shadow: 0 3px 5px #ff79da;
}
main .menu ol li:hover i {
  color: #9356dc;
}
main .restaurants {
  padding-bottom: 4rem;
  background-color: #F7F7F7;
}
main .restaurants h2 {
  text-align: left;
  margin: 4rem 0 0 1rem;
  padding: 3rem 0 1rem 0;
}
main .restaurants article {
  display: flex;
  flex-direction: column;
}
main .restaurants article .card {
  position: relative;
  margin: 0.5rem 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  border-radius: 1rem;
  box-shadow: 0 3px 8px darkgray;
}
main .restaurants article .card__description {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
main .restaurants article .card__description-text {
  width: 85%;
}
main .restaurants article .card__description-text h3, main .restaurants article .card__description-text p {
  margin: 0 0 0.2rem 1rem;
}
main .restaurants article .card__description .card__description-heart {
  padding-right: 0.5rem;
  display: flex;
  width: 24px;
  font-size: 1.5rem;
}
main .restaurants article .card__description .card__description-heart .fa-regular.fa-heart {
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  transition: opacity 300ms ease-in-out;
}
main .restaurants article .card__description .card__description-heart .fa-regular.fa-heart:hover {
  opacity: 0;
}
main .restaurants article .card__description .card__description-heart .fa-regular.fa-heart:hover + .fa-solid.fa-heart {
  opacity: 1;
}
main .restaurants article .card__description .card__description-heart .fa-solid.fa-heart {
  opacity: 0;
  position: relative;
  right: 24px;
  transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in;
  background: linear-gradient(#9356dc 0%, #ff79da 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .restaurants article .card a {
  text-decoration: none;
  color: inherit;
}
main .restaurants article .card a img {
  width: 100%;
  object-fit: cover;
  object-position: 0 61%;
  max-height: 175px;
  border-radius: 1rem 1rem 0 0;
  padding-bottom: 1rem;
}
main .restaurants article .card a span {
  position: absolute;
  text-align: center;
  right: 15px;
  top: 15px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #2FAF94;
  padding: 0.5rem;
  width: 80px;
  height: 20px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 1rem 1.5rem;
}
footer h1 {
  margin: 0.5rem 0 1rem 0;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.2rem;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  padding-right: 5px;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
}
footer .footer-text p {
  margin: 0.5rem 0 0.5rem 0;
}

@media (min-width: 768px) {
  main .menu h2 {
    text-align: center;
  }
  main .menu ol {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2rem 0 1.8rem;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  main .restaurants {
    padding: 0 0 2rem 0;
  }
  main .restaurants h2 {
    text-align: center;
  }
  main .restaurants article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .restaurants article .card a img {
    max-height: 250px;
  }
  footer {
    padding: 1rem 0 2rem 0;
  }
  footer h1 {
    font-size: 2rem;
    text-align: center;
  }
  footer .footer-text {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
