header {
    box-shadow: 0 5px 10px lightgrey;
    h1 {
        font-family : 'Shrikhand', cursive;
        font-size: 1.78rem;
        margin: 0;
        padding: 0.8rem 0 0.4rem 0;
        text-align: center;
    }
}
.nav-bar {
    text-align: center;
    &__search {
        @include flex-center;
        margin-top: 0.3rem;
        font-size: 1rem;
        align-items: center;
        background-color: $darkgray;
        input {
            border: none;
            padding: 1rem;
            font-size: 1rem;
            width: 130px;
            background-color: $darkgray;
            &:focus {
                outline-color: $grayblack;
            }
        }
    }
    &__btn {
        background-color: $lightgray;
        h2{
            margin: 0;
            padding: 2rem 4rem 0 4rem;
        }
        p {
            margin: 0;
            padding: 1rem 1.5rem 0 1.5rem;
            color: dimgray;
        }
        a {
            @include btn-style();
        }
        padding-bottom: 3rem;
    }
}
