main {

    .menu {
        margin-bottom: 2rem;
        h2 {
            text-align: left;
            margin: 3rem 0 2rem 1rem;
        }
        ol {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0 1.2rem 0 2rem;
            justify-content: space-around;
            li {
                display: flex;
                background-color: $graywhite;
                border-radius: 1rem;
                padding: 1.5rem 1.5rem 1.5rem 0;
                box-shadow: 0 3px 5px $darkgray;
                font-size: 1rem;
                font-weight: bold;
                span {
                    font-size: 0.8rem;
                    font-weight: normal;
                    position: relative;
                    left: -0.9rem;
                    padding: 0.3rem 0.6rem;
                    border-radius: 50%;
                    background-color: $primary;
                    color: white;
                }
                i {
                    margin: 0 1.5rem 0 0.5rem;
                    font-size: 1.2rem;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $lightpurple;
                    box-shadow: 0 3px 5px $secondary;
                    transition: 0.5s;
                    transform: scale(1.02);
                    i {
                        color: $primary;
                    }
                }
            }
        }
    }

    .restaurants {
        padding-bottom: 4rem;
        background-color: $graywhite;
        h2 {
            text-align: left;
            margin: 4rem 0 0 1rem;
            padding: 3rem 0 1rem 0;
        }
        article{
            display: flex;
            flex-direction: column;
            .card {
                // cursor: pointer;
                position: relative;
                margin: 1rem;
                padding-bottom: 1rem;
                display: flex;
                flex-direction: column;
                flex-basis: 45%;
                border-radius: 1rem;
                box-shadow: 0 3px 8px $darkgray;
                &__description {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 15px;
                    &-text {
                        width: 85%;
                        h3, p {
                            margin: 0 0 0.2rem 1rem;
                        }
                    }
                    .card__description-heart {
                        @include anim-heart ($heart-main);
                    }
                }


                a{
                    text-decoration: none;
                    color: inherit;
                    img {
                        position: relative;
                        width: 100%;
                        object-fit: cover;
                        object-position: 0 61%;
                        max-height: 175px;
                        border-radius: 1rem 1rem 0 0;
                        padding-bottom: 1rem;
                    }

                    span {
                        position: absolute;
                        text-align: center;
                        right: 15px;
                        top: 15px;
                        font-weight: bold;
                        background-color: $lightgreen;
                        color: $green;
                        padding: 0.5rem;
                        width: 80px;
                        height: 20px;
                    }

                }
                &:hover {
                    box-shadow: 0 0 10px $primary;
                    transform: scale(1.01);
                    transition: 0.5s;
                }
            }
        }        
    }
}

