@import "../Utils/variables";
@import "../Base/base";
@import "../Utils/mixins";
@import "../Layout/footer";

header {
    display: flex;
    .btn-retour{
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        i {
            font-size: 1.5rem;
            color: black;
        }
    }
    h1 {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        font-family : 'Shrikhand', cursive;
        font-size: 1.78rem;
        margin: 0.8rem 3rem 0.4rem 0;
        text-align: center;
    }
}

main{
    background-color: $graywhite;
    text-align: center;
    img {
        height: 300px;
        object-fit: cover;
        object-position: 50% 70%;
        width: 100%;
    }
    .menu{
        position: relative;
        top: -4rem;
        &__titre {
            border-radius: 3rem 3rem 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $graywhite;
            h2 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-family: 'Shrikhand', cursive;
                font-size: 1.8rem;
                margin: 2rem 0 1rem 1rem;
                @media (min-width: $tablette) {
                    flex-basis: 100%;
                }
                }
            &--heart{
                padding: 0.7rem 2rem 0 0;
                @include anim-heart;
            }
        }
        &__carte {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            gap: 1rem;
            margin: 0 1rem 0 1rem;
            @media (min-width: $tablette) {
                width: 25%;
            }
    
            h3 {
                text-align: left;
                text-transform: uppercase;  
                color: $grayblack;
                font-weight: normal;
                font-size: 1rem;
                position: relative;
                margin: 0.6rem 0 0.6rem 0;
                &::before {          
                    position: absolute;
                    top: 1.75rem;
                    content: "";
                    height: 3px;
                    width: 40px;
                    background-color: $tertiary;
                }
            }

        }
        .bloc-menu{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-bottom: 1rem;
        }
        @media (min-width: $tablette) {
            .bloc-menu{
                flex-direction: row;
            }
        }
    }
    a {
        @include btn-style();
        padding: 0.8rem 3rem 0.8rem 3rem;
    }
}

.article {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 5px $darkgray;
    cursor: pointer;
    overflow: hidden;
    @keyframes appear {
        from{
            transform: translateY(30px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    animation: appear 1s both;

    @for $i from 2 through 5{
        &:nth-child(#{$i}){
            animation-delay: (100ms * $i)-100;
        }
    }
    &__description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        padding: 0.8rem;
        text-align: left;
        h4{
            overflow: hidden;
            text-overflow:ellipsis;
            font-size: 1.2rem;
            margin: 0 0 0.2rem 0;
            
        }
        p{
            overflow: hidden;
            text-overflow:ellipsis;
            font-size: 1rem;
            margin: 0;
        }
    }
    &__prix{
        font-weight: bold;
        font-size: 1rem;
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        align-items: flex-end;
    }
    &__check{
        @include flex-center;
        box-sizing: border-box;
        margin-right: -60px;
        width: 60px;
        background-color: $tertiary;
        padding: 0 1rem;
        transition: margin-right 0.4s ease-in-out;
        &::after{
            content: '\f00c';
            font-family: 'FontAwesome';
            padding: 0.2rem;
            border-radius: 50%;
            color: $tertiary;
            font-size: 0.9rem;
            background-color: #fff;
            transition: transform 0.4s ease-in-out;
        }
    }
    &:hover &__check{
        margin-right: 0;
    }
    &:hover &__check::after{
        transform: rotate(360deg);
    }
}
@media (min-width: $tablette) {
    footer{
        @include media-footer;
    }
}
