@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-style() {                
    // @include flex-center;
    // flex-wrap: wrap;
    // width: 100%;
    // background-color: $graywhite;
    // margin: 0;
    // text-align: center;
    // a {
        // @include flex-center;

        display: inline-block;
        text-decoration: none;
        // text-align: center;
        color: white;
        border-radius: 2rem;
        font-size: 1rem;
        background: linear-gradient(to bottom right,$secondary, $primary);
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        margin: 2rem 0 0 0;
        box-shadow: 0 3px 10px $darkgray;
        transition: 0.5s;
        // transition: all 0.4s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow: 0 3px 10px $secondary;
            transition: 0.5s;
            // transition: all 0.4s ease-in-out;
        }
    // }
}
@mixin gradiant-heart (){
    transition: opacity 300ms ease-in;
    background: linear-gradient($primary 0%, $secondary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin anim-heart () {
    display: flex;
    width: 24px;
    font-size: 1.5rem;
    .fa-regular.fa-heart { 
        opacity: 1;
        cursor: pointer;
        z-index: 1;
        transition: opacity 300ms ease-in-out;
        &:hover{
            opacity: 0;
            & + .fa-solid.fa-heart {
                opacity: 1;
            }
        }
    }
    .fa-solid.fa-heart {
        opacity: 0;
        position: relative;
        right: 24px;
        transition: opacity 300ms ease-in-out;
        @include gradiant-heart;
    }
}

@mixin media-footer (){
    padding: 1rem 0 2rem 0;
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .footer-text{
        flex-direction: row;
        justify-content: space-evenly;
    }


}