@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-style() {                
    @include flex-center;
    flex-wrap: wrap;
    width: 100%;
    background-color: $graywhite;
    label {
        @include flex-center;
        color: white;
        border-radius: 2rem;
        font-size: 1rem;
        background: linear-gradient($secondary, $primary);
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        margin: 2rem 0 3rem 0;
        box-shadow: 0 3px 10px $darkgray;
        transition: 100ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow: 0 3px 10px $secondary;
            transition: 0.5s;
        }
    }
}
@mixin gradiant-heart (){
    transition: opacity 300ms ease-in;
    background: linear-gradient($primary 0%, $secondary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin anim-heart ($pixel) {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    .fa-solid.fa-heart { 
        opacity: 0;
        @include gradiant-heart;
    }
    .fa-regular.fa-heart {
        cursor: pointer;
        position: relative;
        left: $pixel;
        z-index: 1;
        transition: opacity 300ms ease-in-out;
        &:hover{
            opacity: 0;
            & + .fa-solid.fa-heart {
                opacity: 1;
                @include gradiant-heart;
            }
        }
    }
}

